# Question 1. 
Fetch data from https://reqres.in/api/users and create list of dicts. dicts contains id, email, first_name

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://reqres.in/api/users"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    users = data["data"]

    user_list = []
    for user in users:
        user_dict = {
            "id": user["id"],
            "email": user["email"],
            "first_name": user["first_name"]
        }
        user_list.append(user_dict)

    for user in user_list:
        print(user)

else:
    print("Failed to retrieve data from the API.")

{'id': 1, 'email': 'george.bluth@reqres.in', 'first_name': 'George'}
{'id': 2, 'email': 'janet.weaver@reqres.in', 'first_name': 'Janet'}
{'id': 3, 'email': 'emma.wong@reqres.in', 'first_name': 'Emma'}
{'id': 4, 'email': 'eve.holt@reqres.in', 'first_name': 'Eve'}
{'id': 5, 'email': 'charles.morris@reqres.in', 'first_name': 'Charles'}
{'id': 6, 'email': 'tracey.ramos@reqres.in', 'first_name': 'Tracey'}

In [3]:
df = pd.DataFrame(user_list)
df.head()

   id                     email first_name
0   1    george.bluth@reqres.in     George
1   2    janet.weaver@reqres.in      Janet
2   3       emma.wong@reqres.in       Emma
3   4        eve.holt@reqres.in        Eve
4   5  charles.morris@reqres.in    Charles

# Question 2.
Fetch data from https://reqres.in/api/users and create list of dicts. dicts contains id, email,  first_nameQuestion 2.
Initialize dictionary with default values 

Given:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

In [4]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

initialized_dict = {}
for employee in employees:
    initialized_dict[employee] = defaults

initialized_dict

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

# Question 3.
Merge following two Python dictionaries into one  dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected output:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Metode 1

In [5]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)

print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Metode 2

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

merged_dict = {**dict1, **dict2}

print(merged_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Question 4
Given a collection of intervals, merge all overlapping intervals. For example:

Given [1,3],[2,6],[8,10],[15,18],
return [1,6],[8,10],[15,18].

Make sure the returned intervals are sorted.

In [7]:
def merge_intervals(intervals):
    merged_intervals = []
    
    sorted_intervals = sorted(intervals, key=lambda x: x[0])
    merged_intervals.append(sorted_intervals[0])
    
    for interval in sorted_intervals[1:]:
        if interval[0] <= merged_intervals[-1][1]:
            merged_intervals[-1][1] = max(interval[1], merged_intervals[-1][1])
        else:
            merged_intervals.append(interval)
    
    return merged_intervals


intervals = [[1, 3], [2, 6], [8, 10], [15, 18]]
merged = merge_intervals(intervals)

print(merged)

[[1, 6], [8, 10], [15, 18]]